streamlit==1.45.0
langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.58
langchain-text-splitters==0.3.8
langchain-huggingface==0.1.2
langchain-openai==0.3.16
chromadb==0.6.3
pypdf==5.4.0
sentence-transformers==4.1.0
openai==1.77.0
